@import '../../../assets/styles/Colors.module.scss';

.post {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid $gray;
  border-radius: 0.7rem;
  background-color: $background-color;

  .delete {
    float: right;
    color: $warning-red;
    background-color: none;
    border: none;
    cursor: pointer;
  }

  .delete:hover, .delete:active {
    text-decoration: underline;
  }

  .postText {
    padding: 0.5rem;
    font-size: 0.8rem;
    clear: both;
    border-bottom: 1px solid $gray;
  }
    
  .showCommentsBtn {
    display: block;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin: 1.5rem auto;
  }

  .newComment {
    textarea {
      display: block;
      width: 100%;
      border-color: $gray;
      border-radius: 0.7rem;
      padding: 0.3rem;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 0.8em;
      margin-bottom: 0.5rem;
    }
    button {
      float: right;
    }
  }
}