@import '../../../assets/styles/Colors.module.scss';

header {
  background-color: $primary-color;
  color: $background-color;
  padding: 0.5em 0;
  vertical-align: middle;

  .logo {
    float: left;
    margin-left: 0.5em;
  }

  // Hamburger Icon
  .menuIcon {
    float: right;
    margin-right: 0.5em;
    position: relative;
    top: 6px;
    background-color: $primary-color;
    border: none;
    color: $background-color;
    vertical-align: middle;
  }

  .showNav {
    clear: both;
    display: block;
    position: absolute;
    right: 0;
    top: 65px;
    border-left: 1px solid $not-quite-black;
    border-bottom: 1px solid $not-quite-black;
    width: 150px;

    a, button {
      display: block;
      text-align: right;
      width: 100%;
      padding: 1em;
      background-color: $primary-highlight;
      color: white;
      border: none;
      border-bottom: 1px solid white;
      text-decoration: none;
      font-size: 1em;
    }

    a:visited {
      color: white;
    }
  }

  .hideNav {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .menuIcon {
      display: none;
    }

    .hideNav {
      margin-right: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px;
      a {
        text-decoration: none;
        color: $background-color;
      }

      a:hover {
        text-decoration: underline;
      }

      button {
        cursor: pointer;
      }
    }
  }
}