$primary-color: rgb(2, 84, 100);
$primary-highlight: rgb(2, 107, 128);
$secondary-color: rgb(229, 124, 35);
$tertiary-color: rgb(232, 170, 66);
$background-color: rgb(240, 240, 240);
$light-gray: rgb(220, 220, 220);
$gray: rgb(184, 184, 184);
$not-quite-black: rgb(30, 30, 30);