@import '../../assets/styles/Colors.module.scss';

.loginForm {
  display: flex;
  flex-direction: column;
  // align-content: center;
  background-color: $background-color;
  height: 100%;

  .logo {
    text-align: center;
    margin-bottom: 4rem;
    background-color: $primary-color;
    padding: 1rem;
  }

  label {
    margin: 1rem 2rem 0 2rem;
  }

  input {
    height: 1.5rem;
    padding: 15px;
    text-align: center;
    border: 1px solid $light-gray;
    margin: 0 2rem;
  }

  p:nth-of-type(1) {
    color: red;
  }

  p {
    margin: 1rem 0;
    text-align: center;
  }

  button {
    // height: 2rem;
    margin: 0 2rem;
  }

  a {
    text-align: center;
    text-decoration: none;
    height: 2em;
    margin: 0 2rem 1em 2rem;
  }
}

@media screen and (min-width: 426px) {
  .loginForm {
    border: 1px solid $light-gray;
    box-shadow: 0 0 5px 1px rgb(146, 146, 146);
    width: 400px;
    margin: 0 auto 0 auto;
  }
}